# shortcuts
*.lnk

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java-se-11-prog-complete/labs/practices/ProductManagement/nbproject/private/
/java-se-11-prog-complete/labs/practices/ProductManagement/build/

# only test files of test folder
!/just-testing/nbproject/src/
/just-testing/nbproject/
/just-testing/build/
/just-testing/build.xml
/just-testing/manifest.mf

#config path
configpaths.properties
/just-testing/dist/